@font-face {
	font-family: 'MADE Tommy Soft';
	src: url('../../public/fonts/subset-MADETommySoft-Black.woff2') format('woff2'),
	url('../../public/fonts/subset-MADETommySoft-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
